* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  background: rgb(253, 181, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 181, 45, 1) 0%,
    rgba(176, 18, 90, 1) 100%
  );
  height: 100vh;
}

.webgl {
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
}
